<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
</head>
<body>
    <h1>Machine Learning</h1>
    <p>Machine learning is a type of artificial intelligence that can analyze data without being given specific instructions for every task. It can use a lot of old data to find patterns and make predictions about new data. It can be used to classify and predict information in documents, images, numbers, and other types of data.
    For example, a financial company can train a machine learning system to identify fraudulent and real transactions. The system learns from previous transactions and finds patterns. Then, it can predict if a new transaction is real or fraudulent.
</p>
</body>
</html>